<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatNet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/tailwind.css">
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/chatroomFrontend.js"></script>
    <!-- <link rel="stylesheet" href="/chatRoom.css"> -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script defer src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/languages/cpp.min.js"></script>
</head>

<body>
    <!-- This is an example component -->
    <div class="container min-h-screen mx-auto shadow-lg rounded-lg">
        <!-- <div class="min-h-screen container mx-auto shadow-lg rounded-lg"> -->
        <!-- headaer -->
        <div class="px-5 py-5 flex  mx-auto justify-between items-center bg-white border-b-2">
            <div class="flex justify-start">
                <div class="backIcon h-9 w-9 py-2">
                    <a href="/home">
                        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 59.44 59.77">
                            <g id="Layer_1-2" data-name="Layer 1">
                                <path
                                    d="M56.72,43.55l-11.6-13.3c-.09-.09-.18-.15-.09-.25l8.7-10.24c3.85-4.13,7.94-11.23,3.47-16.34-.32-.37-.64-.7-.97-1-4-3.7-8.46-2.72-13.9-.02L5.43,22.31C1.97,24.18-.11,27.79,0,31.73c.12,3.94,2.41,7.41,5.99,9.07l38.65,17.94c.3,.14,.6,.26,.9,.37,3.06,1.11,6.27,.79,9.03-.91,3.27-2.01,5.16-5.71,4.83-9.79-.22-2.68-.79-2.96-2.69-4.87Zm-2.54,5.37c.12,2.08-.75,3.83-2.35,4.81-1.37,.84-2.96,1-4.48,.45-.17-.06-.33-.13-.49-.2L8.2,36.04c-1.78-.83-2.89-2.5-2.95-4.47s.94-3.7,2.67-4.64L44.74,7.07c5.77-2.85,6.94-1.98,8.5-.18,1.91,2.18-.78,7.41-3.37,10.19,0,0-5.56,6.64-8.64,10.35-1.16,1.4-1.14,3.43,.04,4.81l11.15,12.97c.99,1,1.67,2.3,1.75,3.7Z" />
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="image">
                    <img src="/Assets/SharesphereLogo/PNG/logo.png" class="backIconImage w-14 " alt="group chat image">
                </div>
                <div class="font-semibold text-2xl py-2 px-1">ChatNet</div>
            </div>

            <div class="w-1/2">
                <input type="text" name="" id="" placeholder="search chat"
                    class="rounded-2xl bg-gray-100 py-3 px-5 w-full" />
            </div>

            <div
                class="h-12 w-12 p-2 bg-yellow-500 rounded-full text-white font-semibold flex items-center justify-center">
                RA
            </div>
        </div>
        <!-- end header -->

        <!-- Chatting -->
        <div class="flex flex-row mx-auto justify-between bg-white">
            <!-- <div class="min-h-screen flex flex-row justify-between bg-white"> -->
            <!-- chat list -->
            <div class="leftSide flex flex-col w-2/5 border-r-2 overflow-y-auto">

                <!-- search compt -->
                <div class="border-b-2 py-4 px-2">
                    <input type="text" placeholder="search chatting"
                        class="py-2 px-2 border-2 border-gray-200 rounded-2xl w-full" />
                </div>
                <!-- end search compt -->

                <!-- SIDE list of Chats -->
                <% chats.forEach(chat=> { %>
                    <% if(chat.id==chatRoomId) {%>

                        <a href="/chatRoom/<%= chat.id %>">
                            <div
                                class="sideChats flex flex-row py-4 px-2 items-center border-b-2 border-l-4 border-blue-400">
                                <div class="w-1/4">
                                    <img src="https://static.thenounproject.com/png/446003-200.png"
                                        class="object-cover h-12 w-12 rounded-full" alt="" />
                                </div>
                                <div class="w-full">
                                    <div class="text-lg font-semibold">
                                        <%= chat.name %>
                                    </div>
                                    <span class="text-gray-500">
                                        <%= chat.mostRecentMessage.username %>
                                            <%= chat.mostRecentMessage.text %>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <% } else { %>

                            <a href="/chatRoom/<%= chat.id %>">
                                <div class="sideChats flex flex-row py-4 px-2 items-center border-b-2">
                                    <div class="w-1/4">
                                        <img src="https://static.thenounproject.com/png/446003-200.png"
                                            class="object-cover h-12 w-12 rounded-full" alt="" />
                                    </div>
                                    <div class="w-full">
                                        <div class="text-lg font-semibold">
                                            <%= chat.name %>
                                        </div>
                                        <span class="text-gray-500">
                                            <%= chat.mostRecentMessage.username %>
                                                <%= chat.mostRecentMessage.text %>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                                <% }) %>

                                    <!-- end SIDE list of Chats -->
            </div>
            <!-- end chat list -->

            <!-- ChatMESAGES -->
            <div class="w-full px-5 flex flex-col justify-between ">
                <div class="flex flex-col mt-5">
                    <div class="outerWrapper">
                        <div class="chatContainer overflow-y-auto" id="messages">
                        </div>
                    </div>
                </div>

                <!-- MESSAGE BAR -->
                <div class="py-5 flex justify-center">
                    <div class="messages">
                        <form id="chat-form" action="">
                            <textarea id="m" autocomplete="off"></textarea>
                        </form>
                    </div>
                    <div class="sendIcon">
                        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 76.69 78.48" width="30" height="30">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #000000;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_1-2" data-name="Layer 1">
                                <g id="Layer_1-2" data-name="Layer 1-2">
                                    <path class="cls-1"
                                        d="M46.33,78.46c-.55,0-1.12-.02-1.74-.1-8.43-.89-11.47-11.69-11.46-18.74l.04-16.24-20.18-.82c-4.14-.16-8.06-2.27-10.5-5.62C.16,33.72-.58,29.71,.46,25.94c1.09-3.91,3.75-6.92,7.5-8.5,.36-.15,.75-.3,1.15-.42L59.78,.63c4.69-1.51,9.75-.27,13.19,3.24,3.45,3.51,4.61,8.58,3.02,13.24l-16.91,49.58c-2.71,7.1-5.96,11.78-12.76,11.78h0Zm-6.57-36.82l-.05,17.98c0,4.75,1.97,11.82,5.57,12.19,2.96,.31,4.77,.12,7.63-7.4L69.78,14.99c.8-2.32,.24-4.76-1.49-6.52s-4.16-2.35-6.5-1.59h0L11.14,23.26c-.21,.06-.41,.15-.62,.24-1.86,.79-3.19,2.29-3.72,4.22-.51,1.85-.15,3.76,1.02,5.37,1.27,1.75,3.31,2.84,5.46,2.92l21.97,.89,12.77-11.96c1.32-1.24,3.4-1.17,4.64,.15,.59,.64,.89,1.44,.89,2.24,0,.87-.35,1.75-1.04,2.4l-12.74,11.93h.01Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>


            </div>
            <!-- end message -->
            <div class="rightSide w-2/5 border-l-2 px-5">
                <div class="flex flex-col justify-between h-full">

                    <div class="font-semibold text-xl py-4 flex justify-between">
                        <div class="justify-center">
                            <%= numOfUsers %> Members
                        </div>

                        <!-- add Member button -->
                        <% if (currentUserId==chatAdmin.id) { %>
                            <button id="addMemberBtn" data-popover-target="popover-bottom"
                                data-popover-placement="bottom" data-modal-toggle="addMember-modal" type="button"
                                class="py-1.5 px-2.5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Add
                                member</button>

                            <div data-popover id="popover-bottom" role="tooltip"
                                class="absolute z-10 invisible inline-block w-30 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 px-3 py-2">
                                <p>add member</p>
                                <div data-popper-arrow></div>
                            </div>
                            <% } %>
                                <!-- add member modal -->
                                <div id="addMember-modal" tabindex="-1" aria-hidden="true"
                                    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                    <div class="relative w-full max-w-md max-h-full">
                                        <!-- Modal content -->
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <button type="button" id="close-addmember-modal"
                                                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                                data-modal-hide="addMember-modal">
                                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                            <div class="px-6 py-6 lg:px-8">
                                                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
                                                    Search for member</h3>
                                                <form class="space-y-6" action="/add-member" method="post">
                                                    <div class="flex items-center">
                                                        <label for="simple-search" class="sr-only"></label>
                                                        <div class="relative w-full">
                                                            <div
                                                                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                                <svg aria-hidden="true"
                                                                    class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                                    fill="currentColor" viewBox="0 0 20 20"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd"
                                                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                                        clip-rule="evenodd">Search</path>
                                                                </svg>
                                                            </div>
                                                            <input type="search" id="simple-search" name="simple-search"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="Type the email of a user" required>
                                                        </div>
                                                        <button id="submitSearchInput" type="submit" name="search-email"
                                                            class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                            <svg class="w-5 h-5" fill="none" stroke="currentColor"
                                                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                                                                </path>
                                                            </svg>
                                                            <span class="sr-only">Search</span>
                                                        </button>
                                                    </div>

                                                    <!-- Search Result -->
                                                    <div id="result-container" class="m-0">
                                                    </div>
                                                    <p id="addMemberMessage" class="text-base text-red-600">
                                                    </p>
                                                    <!-- End of Search Result -->


                                                    <button type="submit" name="add-to-chat" id="add-to-chat"
                                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                                                        user to chat</button>
                                                    <button type="button" name="back-to-chat" id="back-to-chat"
                                                        data-room-id="<%= chatRoomId %>"
                                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 noDisplay">Back
                                                        to chat</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>

                    <!-- list of members -->
                    <div class="mt-4 listOfMembers">
                        <% membersInChat.forEach((member)=>{ %>
                            <div class="py-2 px-4 mb-2 border-t-2 member-card" data-member-id="<%= member.memberId %>">
                                <h3 class="font-semibold">
                                    <% if (chatAdmin.id===member.memberId){ %>
                                        <%= member.memberName %> - admin <i class="fas fa-crown"></i>
                                            <% } else { %>
                                                <%= member.memberName %>
                                                    <% } %>
                                </h3>
                                <p class="font-light">
                                    <%= member.memberEmail %>
                                </p>
                                <% if (chatAdmin.id !==member.memberId) { %>
                                    <button class="remove-button hidden mt-1 text-blue-700">Remove</button>
                                    <% } %>
                            </div>
                            <% }) %>
                    </div>
                    <!-- End of list of members -->
                    <div class="mt-auto">
                        <div class="text-center py-2 px-4 mb-2 border-2 border-b-2 text-sm font-medium
                            text-gray-900
                            focus:outline-none bg-white hover:bg-red-600 hover:text-white focus:z-10 focus:ring-4
                            focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400
                            dark:hover:text-white dark:hover:bg-gray-700">
                            <button type="button">Clear chat</button>
                        </div>
                        <div
                            class="text-center py-2 px-4 mb-2 border-2 border-b-2 text-sm font-medium text-gray-900 focus:outline-none bg-white hover:bg-gray-100 hover:text-red-600 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                            <button type="button">Leave
                                Chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tailwind FlowBite JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>